<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="../static/assets/css/style.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.min.css')}}">

</head>
<body>
    
    <header class="header">
        <h1>Edit Task</h1>
    </header>

    <div class="container">
        <div class="tasks-wrapper">
            <div class="task">
                <div class="task-content">
                    <form action="/edit/{{task.id}}" method="POST">
                        <input type="text" name="content" id="content" value="{{task.content}}">
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>