{% extends 'base.html' %}

{%block head%}

<title>Flask App</title>

{% endblock %}

{% block body %} 

<div class="container">
    <div class="add-new-wrapper">
        <form>
            <input type="text" name="content" id="content">
            <input type="submit" value="Add New" id="btn-add">
        </form>
    </div>
    <div class="tasks-wrapper">
        <div class="task">
            <div class="task-content">
                <input type="checkbox">
                <p>Make CRUD App</p>
            </div>
            <div class="actions">
                <button class="btn btn-update">Edit</button>
                <button class="btn btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}